

.wrapper{
  display: flex;
  align-items: center;
  padding: 20px;
 

  h2{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    color: var(--yellow-theme-main-color);
    display: flex;
    flex: 1;
  }
  
 }